# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

# my specific ignores
addressbook/build.xml
addressbook/local.properties